.features {
  @extend %list;
  @include centered-flex(
    $justify-content: space-between,
    $align-items: stretch
  );
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;

  &__section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__container {
    @extend %container;
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    text-transform: uppercase;

    @include media-query(tablet) {
      text-align: left;
    }
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__item {
    @include media-query(mobile) {
      @include flex-basis(var(--indent), 1);
    }

    @include media-query(tablet) {
      @include flex-basis(var(--indent), 2);
    }

    @include media-query(desktop) {
      @include flex-basis(var(--indent), 4);
    }

    .features__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;

      letter-spacing: 0.03em;

      color: #757575;
    }
    .features__box {
      @include centered-flex();
      height: 120px;
      margin-bottom: 30px;
      background-color: #f5f4fa;
      border-radius: 4px;
    }
  }
}
