.header {
    @extend %container;
   
    background-color: var(--main-color);

    &__container {
       
        
        display: flex;
        justify-content: center;
        align-items: center;
       
        }
    
    &__accent {
        color: var(--accent-color);
        }
        
    &__link {
       
            
        
        @media screen and (min-width:768px){
            margin-right: 80px;
        }
        @media screen and (min-width:1200px) {
                    margin-right: 93px;
                }
            
    
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.19;
            color: #000000;
            margin-top: 16px;
            margin-bottom: 16px;
            text-decoration: none;
        }
}

.header__portfolio {
    border-bottom: 1px solid #ECECEC;
}