.team {
  &__section{
    @extend %section;}
  
  &__container {
    @extend %container;
  }
  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33 / 28);

    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      font-size: 36px;
      line-height: calc(42 / 36);
      margin-bottom: 50px;
    }
  }

  &__name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }

  &__box {
    background-color: var(--main-color);
    
      margin-left: auto;
      margin-right: auto;
      padding-top: 30px;
      padding-bottom: 30px;
      text-align: center;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
  }

  &__list {
    @extend %list;
      @include centered-flex($justify-content: space-between);
      flex-wrap: wrap;
      gap: --indent;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
  }

  &__item {
        @include media-query(mobile) {
            @include flex-basis(--indent, 1)
          }
        
          @include media-query(tablet) {
            @include flex-basis(--indent, 2)
          }
        
          @include media-query(desktop) {
            @include flex-basis(--indent, 4)
          }
  }

  &__text {
    line-height: 1.18;
    text-align: center;
    margin-bottom: 16px;
    color: var(--secondary-color);
  }


&__link {
  @extend %link;


  transition: background-color var(--animation), fill var(--animation);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--accent-color);

    transition: background-color var(--animation);
  }

  &:hover .social__icon,
  &:focus .social__icon {
    fill: #ffffff;

    transition: fill var(--animation);
  }
 &__social {
   padding-left: 32px;
   padding-right: 32px;
 }

 &__link {
   color: #afb1b8;
   background-color: var(--main-color);
 }


 
}
.social__link:hover, .social__icon
.social__link:focus, .social__icon {
  fill: var(--main-color);
  background-color: var(--accent-color);
  transition: background-color var(--animation);
}}