.btn__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 500;
  text-align: center;
  background-color: var(--backround-btncolor);

  transition: background-color var(--animation), color var(--animation);

  cursor: pointer;

  transition: color var(--animation), background-color var(--animation);

  &:hover,
  &:focus,
  &:active {
    color: var(--main-color);
    background-color: var(--accent-color);

    transition: color var(--animation), background-color var(--animation);
  }

  & .current {
    color: var(--main-color);
    background-color: var(--accent-color);
  }
}

.btn__list {
  font-family: inherit;
}
.button {
      font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: calc(30 / 16);
        letter-spacing: 0.06em;
      
        border: 0;
        border-radius: 4px;
        text-align: center;
      
        cursor: pointer;
      
        color: var(--main-color);
        background-color: var(--accent-color);
      
        display: block;
        padding: 10px 32px;
        min-width: 200px;
      
        margin: 0 auto;
      
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      
        
      
        &:hover,
        &:focus {
          background-color: var(--btncolor-hov);
          transition: fill var(--animation), background-color var(--animation);
        }
}