.portfolio {

  @extend %section;
  @extend %container;

  &__btn {
    @extend %list;

    display: flex;
    flex-wrap: wrap;
    
    gap: 8px;
    margin-bottom: 40px;

    @media screen and (min-width:768px) {
      justify-content: center;
    }
  }
}

.portfolio__buttons {
  & .current {
    color: var(--main-color);
    background-color: var(--accent-color);
  }

  & .btn__item {
    display: inline-block;
    padding: 6px 22px;
    border-radius: 4px;
    border: 0;

    font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.03em;

    transition: box-shadow var(--animation), color var(--animation),
      background-color var(--animation);
  }

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    transition: box-shadow var(--animation);
  }
}
