:root {
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --secondary-color: #757575;
    --background-color: #E5E5E5;
    --backround-btncolor: #F5F4FA;
    --main-color: #FFFFFF;
    --secondary-address-color: rgba(255, 255, 255, 0.6);
    --bgc-col-dark: #2F303A;
    --btncolor-hov: #188CE8;

    --indent: 30px;
    --items: 3;

    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}